@charset "utf-8";
/* CSS Document */

.slides_container {
width:273px;
height:78px;
display:block;
}
#slides{position:relative; width:273px;}
#slides .slides_container div {
width:273px;
height:170px;
display:block;
}
#slides .pagination {display:block;
}
#slides .slides_control{ 
width:260px;
height:170px;
}

#slides .next, #slides .prev{position:absolute; top:19px; background: url(../images/slidbtn.jpg) no-repeat center bottom; width:35px; height:35px; font-size:0; color:transparent;	
}
#slides .next{right:50px; background-position:center bottom;}
#slides .prev{left:-40px; background-position:center top;}


